# Required
TELEGRAM_BOT_TOKEN=
GH_TOKEN=
GSC_CLIENT_ID=
GSC_CLIENT_SECRET=
GSC_REFRESH_TOKEN=
YANDEX_OAUTH_TOKEN=
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REFRESH_TOKEN=

# Optional
DATA_DIR=/data
PORT=3000
WEBHOOK_DOMAIN=
POLL_INTERVAL=10
METRIKA_COUNTER_ID=109258289
PAGESPEED_API_KEY=
